#app-title {
    font-family: 'Silkscreen', system-ui;
}

body {
    font-family: 'Azeret Mono Variable', monospace;
    height: 100vh;
 }

.navbarLink :hover {
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Adjust thickness as needed */
    text-underline-offset: 2px; /* Adjust offset as needed */
}