#menu {
  z-index: 1;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  width: 150px;
}

.map-container {
    height: 400px;
  }

.relative {
  position: relative!important
}

.sidebar {
  /* background-color: rgb(35 55 75 / 90%);
  color: #fff; */
  padding: 6px 12px;
  /* font-family: monospace; */
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.sidebar-right {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  margin: 12px;
  border-radius: 4px;
}